# Unity build cache & logs
Unity_BLE_Simulator/Library/
Unity_BLE_Simulator/Temp/
Unity_BLE_Simulator/Logs/
Unity_BLE_Simulator/UserSettings/
Unity_BLE_Simulator/Build/

# Python cache & venv
__pycache__/
*.pyc
*.pyo
.venv/
catboost_info/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
